[buildout]
extends =
    https://zopefoundation.github.io/Zope/releases/master/versions-prod.cfg
develop = .
parts =
    test
    interpreter


[test]
recipe = zc.recipe.testrunner
eggs = Products.SAML2Plugins

[interpreter]
recipe = zc.recipe.egg
interpreter = py
eggs = Products.SAML2Plugins
