[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[project]
name = "pamylka"
version = "00.03.16"
authors = [
  { name="Ahmed Elbehairy", email="ahmedelbehairy.72005@gmail.com" },
]
description = "Pamylka's python package"
readme = "README.md"
requires-python = ">=3.8"
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
]

[project.urls]
Homepage = "https://github.com/pypa/sampleproject"
Issues = "https://github.com/pypa/sampleproject/issues"

[tool.hatch.build.targets.wheel]
packages = ["src/__init__.py","src/pam.py"]