[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"
[project]
name = "dcentralab_qa_infra_automation"
version = "2.3.6"
authors = [
    { name = "Efrat Cohen", email = "efrat.cohen@verisoft.co" },
    { name = "David Bouchard Pinto", email = "david.pinto@dcentralab.com" },
    { name = "Sharon Casson", email = "sharon.casson@dcentralab.com" }
]
description = "Selenium Python Framework for DcentraLab Products"
readme = "README.md"
requires-python = ">=3.7"
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
]

[project.urls]
"Homepage" = "https://github.com/pypa/sampleproject"
"Bug Tracker" = "https://github.com/pypa/sampleproject/issues"